body{
	background-color: gray;
		
}

.wrapper{
	width:900px;
	height:700px;
	
	background-color: lightblue;
	margin:0 auto;
}

.header{
	width:100%;
	height:7%;
	background-color: red;
	
}
.police{
	width:20%;
	height:77%;
	float:left;
	background-color: orange;
	margin-bottom:5%;
	margin-top: 2%;
}
.theaf{
	width:20%;
	height:77%;
	float:right;

	background-color: green;
	margin-bottom:5%;
	margin-top: 2%;
}
.map{
	width:60%;
	height:70%;
	background-color: yellow;
	
	margin-left:20%;

}
.timer{
	width:60%;
	height:5%;
	
	background-color: white;
	
	margin-left:20%;
	margin-bottom:1%;


}
.bottom{
	width:100%;
	height:10%;
	background-color: black;
	margin-bottom:5%;
	margin-top:1%;
	
}

.timer h4{
	margin-left:40%;
}

.header h2{
	margin-left: 33%;
}

.spacebetweenlines{
	margin-top: 50%;
}

.loadingHidden{
	visibility: hidden;
}

.loadErrorHidden{
	visibility: hidden;
}

.left{
	width:20%;
	height:77%;
	float:left;
	background-color: orange;
	margin-bottom:5%;
	margin-top: 2%;
}
.right{
	width:20%;
	height:77%;
	float:right;

	background-color: green;
	margin-bottom:5%;
	margin-top: 2%;
}